body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.input-flex, .result-grid-box {
  display: grid;
  grid-template-columns: 230px 170px 100px;
  column-gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}


.activity-input, .date-input, .header-add-btn, .del-btn{
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.activity-input {
  cursor: text;
}

.header-add-btn, .del-btn{
  color: white;
  background-color: rgb(26, 107, 26);
  border: none;
  padding: 11px;
}

.del-btn {
  background-color: rgb(101, 20, 20);
} 